<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
	  
	  <!-- Daqui para baixo, linhas adicionadas para a pagina de login-->
 
	  <!--  Autenticação atraves do Forms, 
			abre e fecha authentication com 
			authentication e /authentication -->  
	  <authentication mode="Forms">
		  <forms name =".ASPXFORMSDEMO" loginUrl ="index.aspx" protection="All" path="/" timeout="30"/>
	  </authentication>
	  
	  <authorization>
		  <deny users="?"/>  
	  </authorization> 
	  
	  <!-- Até aqui-->
	  
  </system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
